services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=Application
      - FLASK_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/fooddb
      - JWT_SECRET_KEY=your_secret_key
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fooddb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:

